<template>
  <button class="$style.button">
    <PlusIcon />
  </button>
</template>

<script>
import PlusIcon from '../plus-icon';

export default {
  components: {
    PlusIcon,
  },
};
</script>

<style lang="scss" module>
.button {
  background: transparent;
  border: 0;
}
</style>
